##############################
## Java
##############################
*.class
#*.jar
*.war
*.ear
*.nar

##############################
## Maven
##############################
target/

##############################
## Gradle
##############################
bin/
build/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project

##############################
## NetBeans
##############################
build/
nbbuild/
dist/
nbdist/

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace